<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="navigatorDiv" th:fragment="navigator">
        <nav class="navbar navbar-default navbar-fixed-top">
            <img class="adminNavigatorImg pull-left" th:src="@{img/other/adminNavigator.png}" src="" alt="">
            <a href="/admin_category_list" class="navbar-brand">华为商城后台</a>
            <a href="/admin_category_list" class="navbar-brand">分类管理</a>
            <a href="/admin_user_list" class="navbar-brand">用户管理</a>
            <a href="/admin_order_list" class="navbar-brand">订单管理</a>
        </nav>
    </div>
</body>
</html>